

body {
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background-color: #f9f9f9;
    text-align: center;
    height: 100vh;
    background-image: url('../images/fundo.jpg');
    background-size: cover; /* faz a imagem cobrir toda a tela */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat; /* evita repetir a imagem */
  }
  
  header {
    
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    
  
    
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .brand {
    margin-left: 5px;
  }
  
  nav a {
    color: rgb(0, 0, 0);
    margin: 0 10px;
    
    font-weight: 500;
    transition: background-color 1.6s ease; /* tempo de saída */
  }
  nav a:hover {
    background-color: #d9d9d9;
    color: black;
    padding: 5px;
    border-radius: 10px;
    transition: background-color ease 0.0s; /* duração + delay */
  }
  
  .icons span {
    font-size: 1.5em;
    margin-left: 10px;
  }
  
  main h1 {
    margin: 30px 0 20px;
    font-size: 2em;
  }
  .btnPerfil ,.btnSair{
    border-radius: 20px;
    border: none;
    background-color: #0095ff3a;
  }
  
  .painel {
    background-color: #d9d9d9;
    width: 200px;
    margin: 0 auto;
    padding: 30px 20px;
    border-radius: 30px;
    border: 2px solid #0094ff;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .painel  button {
    padding: 10px;
    border: 2px solid #0094ff;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .painel button:hover {
    background-color:#0094ff;
    
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;

  }
  
  #logo{
    margin-top: 10px;
    
    width: 250px;
    
  }

  #dialogEditar {
  
    border: solid 1px black;
    border-radius: 16px;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
  
  #btnEditarInsumo,
  #btnEditarEquipamento {
    font-family: 'JetBrains Mono', monospace;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    padding: 8px 12px;
    margin: 10px;
    border: solid black 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #btnEditarInsumo:hover,
  #btnEditarEquipamento:hover {
    background-color: #1edc1e7f;
  }