
/*ESTILO NAV BAR*/

body {
    margin: 0;
     
    background-color: #f9f9f9;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'JetBrains Mono', monospace;
    
  }
  
  header {
    background-color: #007bff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    
  
    
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .brand {
    margin-left: 5px;
  }
  
  nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 1.6s ease; /* tempo de saída */
  }
  nav a:hover {
    background-color: #d9d9d9;
    color: black;
    padding: 5px;
    border-radius: 10px;
    transition: background-color ease 0.0s; /* duração + delay */
  }
  
  .icons span {
    font-size: 1.5em;
    margin-left: 10px;
  }

  #logo{
    margin-top: 10px;
    width: 250px;
  }

  .btnPerfil ,.btnSair{
    background-color: #007bff;
    border: none;
  }

  /*FIM ESTILO NAV BAR*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}



.header {
  background-color: #0080ff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.header h1 {
  font-size: 24px;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  
}

.icons {
  margin-left: 20px;
}

main {
  display: flex;
  justify-content: center;
  padding: 40px;
  
}

.form-container {
  background-color: #d3d3d3;
  padding: 30px;
  border-radius: 20px;
  width: 500px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
  border: solid 2px black;
}

.form-container label {
  display: block;
  margin-top: 20px;
  
}

.input-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

input[type="text"] {
padding: 8px;
  width: 150px;
  border: 2px solid #0080ff;
  border-radius: 20px;
  outline: none;
}

#desc {
    width: 400px; /* ou o valor que quiser */
  }

.btn {
  padding: 10px ;
  border: solid 2px black;
  border-radius: 10px 10px 10px 0;
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.buscar {
  background-color: #FF6600;
}

.editar {
  background-color: #1EDC1E;
}

.excluir {
  background-color: red;
}

.btn-row {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

/* Hover effect */
.btn:hover {
  filter: brightness(0.9);
}
